@font-face {
    font-family: 'Inconsolata';
    src: url(./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf), format('truetype');
}

:root {
    --Neutral-0: hsl(0, 0%, 100%);
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);

    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);

    --Gradient-text: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    color: var(--Neutral-0);
    background-image: url(./assets/images/pattern-lines.svg),
    url(./assets/images/pattern-circle.svg),
    url(./assets/images/pattern-circle.svg),
    url(./assets/images/pattern-squiggly-line-top.svg), 
    url(./assets/images/pattern-squiggly-line-bottom-desktop.svg), 
    url(./assets/images/background-desktop.png);
    background-repeat: no-repeat;
    background-position: top, 
                         50px -100px, 
                         1000px 500px, 
                         top right, 
                         bottom left, 
                         center center;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    text-align: center;
}

.container {
    width: 100%;
    margin-bottom: 250px;
}

.logo {
    text-align: center;
    padding: 36px 0;
}

.heading {
    font-size: 58px;
    margin: 20px;
    /* text-wrap: balance; */
}

.subheading {
    text-wrap: balance;
    color: var(--Neutral-300);
}

form {
    max-width: 100%;
    width: 450px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: left;
}

label, input {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 15px;
}

input {
    padding: 15px;
    border: 1px solid var(--Neutral-500);
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    margin-bottom: 25px;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    color: var(--Neutral-0);
    transition: all .3s ease-in-out;
}

input::placeholder {
    color: var(--Neutral-300);
}

input:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}

input:focus {
    outline: 2px solid var(--Neutral-300);
    outline-offset: 3px;
}

#upload-container {
    width: 100%;
    height: 150px;
    border: 1px dashed var(--Neutral-500);
    /* outline: 1px dashed var(--Neutral-500); */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}

#upload-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#upload-container span {
    color: var(--Neutral-500);
}

input[type="file"] {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

input[type="file"]:focus {
    outline: 2px solid var(--Neutral-300);
    outline-offset: 3px;
}

.upload-icon {
    height: 52px;
    width: 52px;
    border: 1px solid var(--Neutral-500);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.action-buttons span {
    font-family: "Inconsolata", monospace;
    display: inline;
    padding: 3px 6px;
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: var(--Neutral-300);
    font-size: 16px;
}

.action-buttons span:hover {
    text-decoration: underline;
}


.upload-info, .mail-info {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 35px;
    color: var(--Neutral-300);
}

.upload-info span {
    font-size: 12px;
}

.mail-info {
    display: none;
    font-size: 12px;
    color: var(--Orange-700);
    margin-top: -10px;
}

.mail-info svg path {
    stroke-width: var(--Orange-700);
}


input[type='submit'] {
    background-color: var(--Orange-500);
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    font-weight: 700;
    color: var(--Neutral-900);
}


/* ticket generation */

.heading .gradient-text{
    color: transparent;
    background-image: var(--Gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradientAnimate 2s infinite;
}

.subheading .email {
    color: hsl(7, 86%, 67%);
}

.ticket {
    background-image: url(./assets/images/pattern-ticket.svg);
    background-repeat: no-repeat;
    padding: 25px;
    width: 600px;
    height: 280px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}


.ticket-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ticket-logo h3 {
    font-size: 40px;
    font-weight: 700;
}

.date-loc {
    margin-top: 10px;
    margin-left: 60px;
    font-size: 18px;
    text-align: left;
    color: var(--Neutral-300);
}

.user-details {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-wrapper {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.avatar-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.user .user-name {
    font-size: 26px;
    margin-bottom: 10px;
}

.github {
    display: flex;
    gap: 10px;
}

.ticket-number {
    position: absolute;
    right: 45px;
    top: 50%;
    writing-mode: sideways-rl;
    text-orientation: upright;
    font-size: 26px;
    color: var(--Neutral-500);
    /* transform: rotate(90deg); */
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(./assets/images/pattern-lines.svg),
        url(./assets/images/pattern-squiggly-line-top.svg), 
        url(./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg),
        url(./assets/images/background-mobile.png);
        background-size: 100%, 50%, 50%, cover;
        background-position: top center, top right, bottom left, center center;
    }

    main{
        width: 90%;
    }
    form {
        width: 100%;
    }
    .heading {
        font-size: 24px;
    }

    .generated-ticket .subheading {
        font-size: 16px;
    }

    .ticket {
        width: 100%;
        
        background-size: cover;
    }

}